body{
    margin:0px;
}

.menu{
    text-align: center;
    font-family: Helvetic;
    font-weight: bold;
    background-color: #808080;
    color: white;
}

.guide{
    margin-left: 2%;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.subtitle{
    text-align: center;
    font-family: Helvetic;
    font-weight: bold;
}
.spmap{
    width:80%;
    margin-left: 6%;
 }
